doctype 5
body
  .content
    form(action='/' method='post' enctype='multipart/form-data')
      label Please select a file to upload
        br
        input(type='file' name='iofile')
      input(type='submit' value='Submit!')
  br
  br
  .footer
    p Hi, you curious (^_^). I'm Ayman Nedjmeddine.<br/>Please find details at  
      a(href='https://github.com/IOAyman/fcc-file-metadata-microservice') IOAyman/fcc-file-metadata-microservice
